from pathlib import Path
from dotenv import load_dotenv
import os

# Try multiple locations
BASE_DIR = Path(__file__).resolve().parent

env_path = BASE_DIR / ".env"

if not env_path.exists():
    env_path = BASE_DIR.parent / ".env"

load_dotenv(dotenv_path=env_path)

SECRET_KEY = os.getenv("SECRET_KEY")
ALGORITHM = os.getenv("ALGORITHM", "HS256")

if not SECRET_KEY:
    raise ValueError(f"SECRET_KEY not loaded. Checked: {env_path}")